/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-color: #000028;
  --accent-color: #ff0070;
  --decorated-zone-color: #ff0070;
  --button-color: #ff0070;
  --title-color: #000028;
  --section-title-color: #ff0070;
  --section-title-color: #ff0070;
  --logo-color: #db00ff;
  --text-color: #f1b2ce;
  --background-image: url("../images/cover-image-dark.png");
  --active-button-border-color: rgba(255, 0, 112, 1);
  --button-border-color: rgba(255, 0, 112, 0.4);
  --link-border-color: rgba(241, 178, 206, 1);
  --bulb-visibility: visible;
}
