/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--background-image);
  background-attachment: fixed;
  container-type: inline-size;
  container-name: page;
}

.header {
  position: relative;
  display: grid;
}

.header::before,
.header::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-style: solid;
}

.header::before {
  top: 10px;
  right: 10px;
  border-width: 1px 1px 0 0;
  border-color: var(--accent-color);
}

.header::after {
  bottom: 10px;
  left: 10px;
  border-width: 0 0 1px 1px;
  border-color: var(--accent-color);
}

.bulb {
  position: absolute;
  top: 10px;
  right: 38px;
  text-transform: uppercase;
  font-family: var(--font);
  font-weight: var(--font-text-weight);
  font-size: var(--font-size);
  line-height: 25px;
  color: var(--accent-color);
  text-align: center;
}

.bulb::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 8px;
  left: 42px;
  border-radius: 100%;
  box-shadow: inset;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  margin-top: 74px;
}

.header__theme-menu-list {
  margin-right: 12px;
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  background: none;
  border: none;
  text-transform: lowercase;
  font-family: var(--font);
  font-weight: var(--font-text-weight);
  font-size: var(--font-size);
  line-height: 18px;
  color: var(--accent-color);
  text-align: center;
  width: 68px;
  height: 26px;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.6);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid rgba(255, 0, 112, 0.6);
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.link {
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--accent-color);
}

.link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.link:focus-visible {
  outline: 1px solid rgba(241, 178, 206, 0.6);
  outline-offset: -2px;
}

.main-title {
  margin-top: 67px;
  margin-left: var(--side-margin);
  font-family: var(--font);
  font-weight: var(--font-title-weight);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  color: var(--logo-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  background-color: var(--accent-color);
}

.project-description-container {
  margin: 55px var(--side-margin) 66px var(--side-margin);
}

.project-description {
  font-family: var(--font);
  font-weight: var(--font-title-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--main-color);
}

.section-title {
  font-family: var(--font);
  font-weight: var(--font-title-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--accent-color);
}

.block-title {
  font-family: var(--font);
  font-weight: var(--font-title-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--main-color);
}

.article-title {
  font-family: var(--font);
  font-weight: var(--font-text-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--main-color);
}

.text {
  font-family: var(--font);
  font-weight: var(--font-text-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--text-color);
}

.content {
  margin: 39px var(--side-margin) 40px var(--side-margin);
  display: grid;
  gap: var(--section-gap);
}

.content__article-container {
  display: grid;
  gap: var(--block-gap);
}

.content__section {
  display: grid;
  gap: var(--block-gap);
}

.content__article {
  display: grid;
  gap: var(--aricle-gap);
}

.content__image-section {
  display: grid;
  gap: 7px;
}

.image {
  width: 100%;
}

.footer {
  position: relative;
}

.footer__logo {
  margin-top: 321px;
  margin-left: 14px;
  margin-bottom: 285px;
  font-family: var(--font);
  font-weight: var(--font-title-weight);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  color: var(--logo-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

.footer::before,
.footer::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-style: solid;
}

.footer::before {
  top: -277px;
  right: 10px;
  border-width: 1px 1px 0 0;
  border-color: var(--accent-color);
}

.footer::after {
  bottom: -275px;
  left: 10px;
  border-width: 0 0 1px 1px;
  border-color: var(--accent-color);
}

@container page (inline-size >= 768px) {
  .header::before {
    top: 20px;
    right: 20px;
  }

  .header::after {
    bottom: 20px;
    left: 20px;
  }

  .bulb {
    top: 20px;
    right: 49px;
  }

  .header__theme-menu {
    margin-top: 190px;
  }

  .header__theme-menu-list {
    margin-right: 22px;
  }

  .main-title {
    margin-top: 178px;
    margin-left: 0;
  }

  .project-description-container {
    justify-self: end;
    margin: 162px 20px 183px 0;
    max-width: 364px;
  }

  .content {
    --side-margin: 20px;
    --section-gap: 80px;
    margin: 60px var(--side-margin) 40px var(--side-margin);
    gap: var(--section-gap);
  }

  .content__reasons-section,
  .content__tips-section {
    display: grid;
    grid-template-columns: 0.33fr 0.66fr;
    grid-template-areas: "title content";
  }

  .content__reasons-section.section-title,
  .content__tips-section.section-title {
    grid-area: title;
  }

  .content__reasons-section.content__article-container,
  .content__tips-section.content__article-container {
    grid-area: content;
  }

  .content__cause-section .section-title {
    max-width: 236px;
  }

  .content__image-section {
    grid-template-columns: 0.33fr 0.33fr 0.33fr;
    grid-template-rows: 23px 0.26fr 0.31fr 0.43fr;
    grid-template-areas:
      "title title title"
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
    gap: 20px;
  }

  .title-images {
    grid-area: title;
  }

  .sunset {
    grid-area: sunset;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .tape {
    grid-area: tape;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }

  .image {
    height: 100%;
    object-fit: cover;
  }

  .footer {
    display: flex;
    justify-content: center;
  }

  .footer::before {
    top: 34px;
    right: 20px;
  }

  .footer::after {
    bottom: 19px;
    left: 20px;
  }

  .footer__logo {
    margin-top: 480px;
    margin-left: -1px;
    margin-bottom: 461px;
  }
}

@container page (inline-size >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    margin-top: 19px;
  }

  .header__theme-menu-list {
    margin-right: 0;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
  }

  .main-title {
    margin-top: 275px;
    margin-left: 0;
    font-size: 157px;
    line-height: 129.53px;
  }

  .project-description-container {
    margin: 112px 20px 136px 0;
    max-width: 491px;
  }

  .header::after {
    bottom: 21px;
  }

  .content__reasons-section,
  .content__tips-section {
    grid-template-columns: 0.33fr 0.68fr;
  }

  .content__cause-section {
    grid-template-rows: 47px 1fr;
  }

  .content__cause-section .section-title {
    max-width: 315px;
  }

  .content__cause-section .content__article-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .content__cause-section .content__article {
    grid-template-rows: 23px 1fr;
  }

  .footer__logo {
    margin-top: 337px;
    margin-bottom: 317px;
    font-size: 157px;
    line-height: 129.53px;
  }

  .footer::before {
    top: 37px;
    right: 20px;
  }

  .footer::after {
    bottom: 19px;
    left: 20px;
  }
}
