/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--background-image);
  background-attachment: fixed;
  container-type: inline-size;
  container-name: page;
  background-color: var(--main-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  margin-left: var(--side-margin);
  margin-right: var(--side-margin);
  display: grid;
  grid-template-rows: 0.26fr 0.38fr 0.26fr 0.1fr;
  align-items: end;
  height: 100vh;
  min-height: 668px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-style: solid;
}

.decorated-zone::before {
  top: 10px;
  right: 0;
  border-width: 1px 1px 0 0;
  border-color: var(--decorated-zone-color);
}

.decorated-zone::after {
  bottom: 10px;
  left: 0;
  border-width: 0 0 1px 1px;
  border-color: var(--decorated-zone-color);
}

.bulb {
  visibility: var(--bulb-visibility);
  position: absolute;
  top: 11px;
  right: 28px;
  text-transform: uppercase;
  font-family: var(--font);
  font-weight: var(--font-text-weight);
  font-size: var(--font-size);
  line-height: 25px;
  color: var(--accent-color);
  text-align: center;
}

.bulb::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 8px;
  left: 42px;
  border-radius: 100%;
  box-shadow: inset;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: grid;
  gap: 11px;
}

.header__theme-menu-button {
  cursor: pointer;
  background: none;
  border: none;
  text-transform: lowercase;
  font-family: var(--font);
  font-weight: var(--font-text-weight);
  font-size: var(--font-size);
  line-height: 18px;
  color: var(--button-color);
  text-align: center;
  width: 70px;
  height: 26px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-border-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--active-button-border-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--active-button-border-color);
}

.link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.link:hover {
  text-decoration: none;
  border-bottom: 1px solid var(--link-border-color);
}

.link:focus-visible {
  outline: 1px solid var(--link-border-color);
  outline-offset: -2px;
}

.main-title {
  font-family: var(--font);
  font-weight: var(--font-title-weight);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  color: var(--logo-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  background-color: var(--accent-color);
}

.project-description {
  font-family: var(--font);
  font-weight: var(--font-title-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--title-color);
}

.section-title {
  font-family: var(--font);
  font-weight: var(--font-title-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--section-title-color);
}

.block-title {
  font-family: var(--font);
  font-weight: var(--font-title-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--title-color);
}

.article-title {
  font-family: var(--font);
  font-weight: var(--font-text-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--title-color);
}

.text {
  font-family: var(--font);
  font-weight: var(--font-text-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--text-color);
}

.content {
  margin: 39px var(--side-margin) 34px var(--side-margin);
  display: grid;
  gap: var(--section-gap);
}

.content__article-container {
  display: grid;
  gap: var(--block-gap);
}

.content__section {
  display: grid;
  gap: var(--block-gap);
}

.content__article {
  display: grid;
  gap: var(--aricle-gap);
}

.content__image-section {
  display: grid;
  gap: 7px;
}

.image {
  width: 100%;
}

.footer {
  margin-left: var(--side-margin);
  margin-right: var(--side-margin);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
}

.footer__logo {
  font-family: var(--font);
  font-weight: var(--font-title-weight);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  color: var(--logo-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@container page (inline-size >= 768px) {
  .header {
    margin-right: 20px;
    margin-left: 0;
    min-height: 1024px;
    grid-template-rows: 0.283fr 0.265fr 0.272fr 0.18fr;
  }

  .decorated-zone::before {
    top: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .bulb {
    top: 20px;
    right: 29px;
  }

  .project-description-container {
    justify-self: end;
    max-inline-size: 364px;
  }

  .content {
    --side-margin: 20px;
    --section-gap: 80px;
    margin: 60px var(--side-margin) 55px var(--side-margin);
    gap: var(--section-gap);
  }

  .content__reasons-section,
  .content__tips-section {
    display: grid;
    grid-template-columns: 0.33fr 0.66fr;
    grid-template-areas: "title content";
  }

  .content__reasons-section.section-title,
  .content__tips-section.section-title {
    grid-area: title;
  }

  .content__reasons-section.content__article-container,
  .content__tips-section.content__article-container {
    grid-area: content;
  }

  .content__cause-section .section-title {
    max-inline-size: 236px;
  }

  .content__image-section {
    grid-template-columns: 0.33fr 0.33fr 0.33fr;
    grid-template-rows: 23px 0.26fr 0.31fr 0.43fr;
    grid-template-areas:
      "title title title"
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
    gap: 20px;
  }

  .title-images {
    grid-area: title;
  }

  .sunset {
    grid-area: sunset;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .tape {
    grid-area: tape;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }

  .image {
    height: 100%;
    object-fit: cover;
  }

  .footer {
    min-height: 1024px;
  }

  .footer.decorated-zone::before {
    right: 10px;
  }

  .footer.decorated-zone::after {
    left: 10px;
  }
}

@container page (inline-size >= 1024px) {
  .header {
    min-height: 768px;
    grid-template-rows: 0.059fr 0.524fr 0.24fr 0.174fr;
  }

  .header__theme-menu {
    justify-self: center;
    padding-left: 20px;
  }

  .header__theme-menu-list {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
  }

  .main-title {
    font-size: 157px;
    line-height: 129.53px;
  }

  .project-description-container {
    max-inline-size: 491px;
  }

  .content {
    margin-bottom: 58px;
  }

  .content__reasons-section,
  .content__tips-section {
    grid-template-columns: 0.33fr 0.68fr;
  }

  .content__cause-section {
    grid-template-rows: 47px 1fr;
  }

  .content__cause-section .section-title {
    max-inline-size: 315px;
  }

  .content__cause-section .content__article-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .content__cause-section .content__article {
    grid-template-rows: 23px 1fr;
  }

  .footer {
    margin-right: 0;
    min-height: 768px;
  }

  .footer__logo {
    font-size: 157px;
    line-height: 129.53px;
  }

  .footer.decorated-zone::before {
    right: 20px;
  }
}
